{% extends "base.html" %}

{% block content %}
<h1 style="padding-top:25px">Registro de Gastos</h1>
<form class="bills-form pt-1" method="post" action="{{ url_for('gastos.create_gastos_post') }}">

  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripción</label>
    <input type="text" class="form-control" id="descripcion" name="descripcion" required placeholder="Boleto de subte...">
  </div>
  <div class="mb-3">
    <label for="tipo" class="form-label">Tipo de Gasto</label>
    <input type="text" class="form-control" id="tipo" name="tipo" required placeholder="Transporte...">
  </div>
  <div class="mb-3">
    <label for="monto" class="form-label">Monto</label>
    <input type="number" class="form-control" id="monto" name="monto" required placeholder="$500">
  </div>
  <button class="bills-form--submit-button" type="submit">Agregar Gasto</button>
</form>
{% endblock %}