{% extends "base.html" %}

{% block content %}
<h1 style="padding-top:25px">Editar Gasto</h1>
<form method="post" action="{{ url_for('gastos.editar_gasto', gasto_id=gasto.id) }}">
    <div class="mb-3">
        <label for="descripcion" class="form-label">Nueva Descripción</label>
        <input type="text" class="form-control" id="descripcion" name="descripcion" required value="{{ gasto.descripcion }}">
    </div>
    <div class="mb-3">
        <label for="tipo" class="form-label">Nuevo Tipo de Gasto</label>
        <input type="text" class="form-control" id="tipo" name="tipo" required value="{{ gasto.tipo }}">
    </div>
    <div class="mb-3">
        <label for="monto" class="form-label"> Nuevo Monto</label>
        <input type="number" class="form-control" id="monto" name="monto" required value="{{ gasto.monto }}">
    </div>
    <button class="bills-form--submit-button" type="submit">Guardar Cambios</button>
</form>
{% endblock %}