{% extends "base.html" %}

{% block content %}
<h1 class="title">Editar Gasto</h1>
<form method="post" action="{{ url_for('editar_gasto', gasto_id=gasto.id) }}">
    <div class="field">
        <label for="descripcion">Nueva Descripción:</label>
        <input class="input is-large" type="text" id="descripcion" name="descripcion" value="{{ gasto.descripcion }}"
            required>
    </div>
    <br>
    <div class="field">
        <label for="tipo">Nuevo Tipo de Gasto:</label>
        <input class="input is-large" type="text" id="tipo" name="tipo" value="{{ gasto.tipo }}" required>
    </div>
    <br>
    <div class="field">
        <label for="monto">Nuevo Monto:</label>
        <input class="input is-large" type="number" id="monto" name="monto" value="{{ gasto.monto }}" required>
    </div>
    <br>
    <button type="submit">Guardar Cambios</button>
</form>
{% endblock %}