{% extends "base.html" %}

{% block content %}
<div>
    <h2>Lista de Gastos</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Tipo</th>
            <th scope="col">Monto</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for gasto in gastos %}
        <tr>
            <th scope="row">{{ gasto.id }}</th>
            <td>{{ gasto.descripcion }}</td>
            <td>{{ gasto.tipo }}</td>
            <td>{{ gasto.monto }}</td>
            <td>
                <div class="col justify-content-between">
                    <a href="{{ url_for('gastos.editar_gasto', gasto_id=gasto.id) }}"
                       class="bills-container--item__edit">Editar</a>
                    <form method="post" action="{{ url_for('gastos.eliminar_gasto', gasto_id=gasto.id) }}" style="display:inline;">
                        <button type="submit" class="bills-container--item__delete">Eliminar</button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <form method="get" action="{{ url_for('gastos.create_gastos') }}" style="display:inline;">
        <button type="submit" class="btn btn-primary">Add Gasto</button>
    </form>



</div>
{% endblock %}