{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4" style="padding-top:25px">
  <h3 class="title">Sign Up</h3>
  <div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
    </div>
    {% endif %}
    {% endwith %}

    <form class="bills-form" method="post" action="/signup">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" required placeholder="test@gmail.com...">
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" name="name" required placeholder="Tu nombre...">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" required placeholder="09122018">
      </div>
      <button class="bills-form--submit-button" type="submit">Sign Up</button>
    </form>

  </div>
</div>
{% endblock %}